html,
body {
  width: 100%;
  height: 100%;
  font-family: 'VT323', monospace;
}

a {
  color: #000000;
  transition: all .35s;
}

a:hover, a:focus {
  color: #000000;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: black;
}

h1{
  text-transform: uppercase;
  font-size: 50px;
}

h2 {
  text-transform: uppercase;
  font-size: 27px;
}
h3
{
  font-size: 30px;

}
h4{

  font-size: 35px;

}
/*beta testing*/
h5{
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 200;
  letter-spacing: 1px;
}

h6 {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 19px;
  line-height: 1.3;
  margin-bottom: 10px;
}

section {
  padding: 60px 0;
}

section h2 {
  font-size: 50px;
}

.fa {
  padding: 20px;
  /*font-size: 40px;*/
  width: 50px;
  text-align: center;
  text-decoration: none;
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  transition: all .03s;
  font-family: 'VT323', 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 300;
  letter-spacing:2px;
}

#mainNav .navbar-brand {
  color: black;
  font-family: 'VT323', monospace;
  font-weight: 300;
  letter-spacing: 2px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: black;
}

#mainNav .navbar-toggler {
  font-size: 16px;
  padding: 6px 7px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 14px;
  font-family: 'VT323', monospace;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #8c8a88 !important;
  background-color: white;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: white;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: white;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: white;
  }
  /*navbar menu labels */
  #mainNav .navbar-brand {
    color: fade(white, 20%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: black;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgb(0, 0, 0);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: black;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: black;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: black;
  }
}
header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 90%;
  width: auto;
  height: 70%;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
header .container {
  position: absolute;
  z-index: 0;
}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  /*font color*/
  color: black;
  background: url("#"), linear-gradient(to left, #8C442A, #593325);
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 30px;
}

header.masthead .device-container {
  /*max-width: 325px;*/
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-size: 50px;
  }
  header.masthead .device-container {
    max-width: 325px;
    border-radius: 3px;
  }
}

section.coming_soon {
  position: relative;
  padding: 100px 0;
}

section.coming_soon h2 {
  font-size: 50px;
  margin-top: 0;
}

section.coming_soon .download .download-link {
  display: block;
  margin-bottom: 25px;
}

section.coming_soon .download .download-link:last-child {
  margin-bottom: 0;
}

section.coming_soon .download .download-link img {
  height: 60px;
}

@media (min-width: 768px) {
  section.coming_soon .download .download-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  section.coming_soon h2 {
    font-size: 70px;
  }
}

section.features .section-heading {
  margin-bottom: 100px;
}

section.features .section-heading h2 {
  margin-top: 0;
}

section.features .section-heading p {
  margin-bottom: 0;
}

section.features .device-container,
section.features .feature-item {
  max-width: 325px;
  margin: 0 auto;
}

section.features .device-container {
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
}

section.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

section.features .feature-item h3 {
  font-size: 30px;
}

section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: linear-gradient(to left, #593325, #8C442A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.cta {
  position: relative;
  padding: 250px 0;
  background-image:url("img/icons/wagon.png");
  background-position: center;
  background-size: cover;
}

section.cta .cta-content {
  position: relative;
  z-index: 1;
}

section.cta .cta-content h2 {
  font-size: 50px;
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
}

@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}

section.cta .overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

section.contact {
  text-align: center;
}

section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

section.contact h2 i {
  color: #dd4b39;
}

section.contact ul.list-social {
  margin-bottom: 0;
}

section.contact ul.list-social li a {
  font-size: 40px;
  line-height: 80px;
  display: block;
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 100%;
}

#page-container {
  position: absolute;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 50rem;    /* Footer height */
}

footer {
  padding: 50px 0;        /* Keeps footer in center */
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 8rem;            /* Footer height */
  color: white;
  background-color: #8C442A;
  clear: both;

  margin-top:0px;
  margin-bottom: 0px;
}

footer p {
  font-size: 18px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 16px;
  color: white;
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}

.bg-primary {
  background: #F2DDB6;
  background: linear-gradient(#F2DDB6, #F2DDB6);
}

.text-primary {
  color: white;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: white;
  background-color: white;
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0px;
}
.video-responsive iframe{
  left:0;
  top:0;
  padding-left: 15px;
  padding-right: 15px;
  height:100%;
  width:100%;
  position:absolute;
}

/*Sponsors*/
.rowForSponsor {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.columnForSponsor {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.columnForSponsor img {
  margin-top: 5px;
  vertical-align: middle;
}

/* Mobile - Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .columnForSponsor {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columnForSponsor {
    flex: 100%;
    max-width: 100%;
  }
}

/*Behind the Scenes CSS */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*Behind the Scences*/
/* Style the Image Used to Trigger the Modal */
#cover {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px;
}

#cover:hover {opacity: 0.7;}

#FortKearney {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px;
}

#FortKearney:hover {opacity: 0.7;}

#FortBridger {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px;
}

#FortBridger:hover {opacity: 0.7;}

#HumboldtRiverSettlement {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px;
}

#HumboldtRiverSettlement:hover {opacity: 0.7;}

#WesportRoad {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px;
}

#WesportRoad:hover {opacity: 0.7;}

#MitchellPass {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px;
}

#MitchellPass:hover {opacity: 0.7;}

#BearLakeRoad {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px;
}

#BearLakeRoad:hover {opacity: 0.7;}

#SnakeRiverPath {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px;
}

#SnakeRiverPath:hover {opacity: 0.7;}

#TruckeeRoute {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px;
}

#TruckeeRoute:hover {opacity: 0.7;}

#SierraNevadaRoute {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px;
}

#SierraNevadaRoute:hover {opacity: 0.7;}

#horse {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px;
}

#horse:hover {opacity: 0.7;}

#ox {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px;
}

#ox:hover {opacity: 0.7;}

#mule {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px;
}

#mule:hover {opacity: 0.7;}

#dog {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px;
}

#dog:hover {opacity: 0.7;}


#independence {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px;
}

#independence:hover {opacity: 0.7;}

#reno {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px;
}

#reno:hover {opacity: 0.7;}

#FortLaramie {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px;
}

#FortLaramie:hover {opacity: 0.7;}

#FortHall {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px;
}

#FortHall:hover {opacity: 0.7;}

#Eureka {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px;
}

#Eureka:hover {opacity: 0.7;}

#ChildsCutoff {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px;
}

#ChildsCutoff:hover {opacity: 0.7;}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 25px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  padding-top: 0%;
  right: 23%;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.rights {
  margin-top: 50px;
  margin-left: 30px;
  text-align: center;
  padding-top: 20px;
}
